<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"></form>
    <Span>When will this sport session be held?</Span>
    <input type="datetime-local">
    <span>Where will this session be played?</span>
    <input type="text">
    <span>Who all will be joining you in this session ?(comma-separted)</span>
    <input type="text">
    <span>How many more players do you need </span>
    <input type =text>
    <button type="submit" >SUbmit</button>
</body>
</html>