<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Sports Scheduler</title>
   
</head>

<body class="bg-blue-100">
    <div>
     
    </div>
        
        <a href="/signout" class="text-red-900 text-sm px-2 py-1 absolute top-2 right-2">Signout</a>
        <div class="container mx-auto px-10 py-4"> 
            <h1 class="text-4xl font-serif text-grey-600 mb-90">
                <%= sport.sportname %>!
            </h1>
            </h1>
           
         
           

            <% for(var i=0; i<sessions.length; i++) { %>
                <% if (sessions.adminId !== adminId) { %>
                    <% for (var i = 0; i < players.length; i++) { %>
                        <div class="flex items-center bg-blue-500 p-2 rounded">
                            <p class="text-white"><%= players[i].playername %></p>
                            <a class="trash-icon ml-2" href="#" onclick="deletePlayer(<%=players[i].id%>)">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                                </svg>                          
                            </a>
                        </div>
                        

                    
                    <% } %>
                <% } %>
             <% } %>
            
       
 </body>
</html>