<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Sports Scheduler</title>
   
</head>

<body class="bg-blue-100">
    <div>
     
    </div>
        
        <a href="/signout" class="text-red-900 text-sm px-2 py-1 absolute top-2 right-2">Signout</a>
        <div class="container mx-auto px-10 py-4"> 
            <h1 class="text-4xl font-serif text-grey-600 mb-90">
                <%= sports.sportname %>!
            </h1>
            </h1>
           
         
           

            <% for(var i=0; i<sessions.length; i++) { %>
                <% if (sessions[i].adminId !== adminId  && sessions[i].playerId !== playerId) { %>
                   <a href=""><%= sessions[i].date %></a>
                        

                    
                  
                <% } %>
             <% } %>
            
       
 </body>
</html>