<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css"/> 
    <body class="bg-blue-100">

    <h1 class="text-center text-4xl my-8">Welcome !</h1>
    <p class="text-center text-2xl mb-4">Administrative Actions</p>
    
    <a href="/createsport" class="text-center mb-4 underline">Create a sport</a>
    <br>
    <a href="/viewsports/<%= userid %>" class="text-center underline" >View sports</a>
    <hr>

</body>
</html>
